@import 'antd/dist/antd.css'; // or 'antd/dist/antd.less'
%smooth-trans {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

%smooth-trans1 {
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
body {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 14px;
    background-color: #f4f6f8;
}
.hidden{
  display: none;
}
.posion-relative{
  position: relative;
}
.wrapper{
  margin: 0 auto;
  padding: 30px 10%;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}
.Polaris-Page {
  margin: 0 auto;
  padding: 0;
  max-width: 109.8rem;
}
.fload-right{
  float: right;
}
.btn_add{

  .Polaris-Button__Text{
    display: flex;
    align-items: center;
    .Polaris-Icon{
      margin-right: 10px;
    }
  }
}
//-------------Tabs------------//
.Polaris-Tabs {
    justify-content: left;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05), 0 1px 3px 0 rgba(63,63,68,.15);
    box-shadow: var(--p-card-shadow,0 0 0 1px rgba(63,63,68,.05),0 1px 3px 0 rgba(63,63,68,.15));
    button{
      &:focus{
        box-shadow: none;
      }
    }
    .Polaris-Tabs__Tab{
      margin: 0 0.5em;
      .title_tabs{
        display: flex;
        align-items: center;
        justify-content: center;
        span{
          text-transform: uppercase;
          display: block;
          font-weight: 500;
          color: rgba(0,0,0,0.7);
          font-size: 13px;
        }
        .Polaris-Icon{
          margin:inherit;
          margin-left: 10px;
          svg{
            fill: #ccc;
          }
          height: 1.6rem;
        }
      }
      &.Polaris-Tabs__Tab--selected{
        .Polaris-Tabs__Title{
          border-bottom: var(--p-override-none, 0.3rem) solid #6371c7
        }
        .title_tabs{
          
          .Polaris-Icon{
            animation: mover 0.8s infinite alternate;
            position: relative;
          }
          @-webkit-keyframes mover {
            from{
              -webkit-transform:rotate(30deg);
              -moz-transform:rotate(30deg);
              -o-transform:rotate(30deg);
          }
          to{
              -webkit-transform:rotate(-30deg);
              -moz-transform:rotate(-30deg);
              -o-transform:rotate(-30deg);
          }
          }
          @keyframes mover {
              from{
                -webkit-transform:rotate(30deg);
                -moz-transform:rotate(30deg);
                -o-transform:rotate(30deg);
            }
            to{
                -webkit-transform:rotate(-30deg);
                -moz-transform:rotate(-30deg);
                -o-transform:rotate(-30deg);
            }
          }
          
          span{
            color: #6371c7;
          }
          svg{
            fill: #6371c7
          }
        }
        color: #6371c7;
      }
    }
}
//------------Product-item-------------//
.product-item{
  display: flex;
  align-items: center;
  .product-image{
    overflow: hidden;
    vertical-align: middle;
    padding-right: 15px;
    img{
      max-width: 60px;
      max-height: 60px;
    }
  }
  .product-title{
    button{
      @extend %smooth-trans;
      .Polaris-Button__Text{
        text-decoration: none;
      }
      &:hover{
        text-decoration: none;
        color: #6371c7;
      }
      
    }
  }
}
//---custom margin, padding-----//
.margin--top--20{
  margin-top: 20px;
}
.margin--bottom--20{
  margin-bottom: 20px;
}
.margin--top--10{
  margin-top: 10px;
}
.margin--bottom--10{
  margin-bottom: 10px;
}
.padding--top--20{
  padding-top: 20px;
}
.padding--bottom--20{
  padding-bottom: 20px;
}
.Polaris-Labelled__LabelWrapper{
  margin-bottom: 10px;
}
//-----------Sorter Title----------//
.ant-table-column-sorters{
  width: 100%;
  justify-content: space-between;
  >span{
    font-weight: bold;
  }
}

//------------css pagination----------------//

.ant-pagination-item{
  @extend %smooth-trans;
  &:hover{
    border-color: #6371c7;
    a{
      color: #6371c7
    }
  }
  &.ant-pagination-item-active{
    border-color: #6371c7;
    a{
      color: #6371c7
    }
  }
}
.ant-pagination-next ,.ant-pagination-prev{

    @extend %smooth-trans;
  &:hover{
    .ant-pagination-item-link{
      border-color: #6371c7;
      svg{
        fill: #6371c7;
      }
    }
    
  }

}
//-------------cSS Positon--------------// 
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.flex{
  display: flex;
  align-items: center;
}
.bold{
  font-weight: bold;
}
//-----------Product-deltail --------------//
.Polaris-Page-Header {
  padding-top: 0;
}
.product-detail{

  .product-des{
    display: flex;
  }
  .prodcut-image{
    margin-right: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    img{
      max-height: 150px;
      border-radius: 6px;
    }
  }
  .prodcut-title{
    a{
      font-size: 15px;
      letter-spacing: 1px;
      color: #6371c7;
      position: relative;
      &::after{
        content: '';
        display: block;
        border-bottom: 1px solid #6371c7;
        width: 0;
        position: absolute;
        left: 0;
        -webkit-transition: 0.7s ease;
        transition: 0.7s ease;
      }
      &:hover{
        &::after{
          width: 100%;
        }
      }
    }
    .Polaris-Stack{
      .Polaris-Stack__Item:nth-child(1){
        .Polaris-Badge{
          background-color: #bbe5b3;
        }
        
      }
      .Polaris-Badge{
        font-size: 1rem;
      }
    }
    
  }
}
//-----------answer_lists--------------//
.answer_lists{
  margin-bottom:10px;
  &:last-child{
    margin-bottom: 0;
  }
  .answer_title{
    font-weight: 500;
    .answer_cus{
      .Polaris-Icon{
        margin-right:10px;
        display: inline-block;
      }
     
      
    }
    .Polaris-Icon{
      svg{
        fill: #ccc;
      }
    }
  }
  .answer_time{
    text-align: right;
    color: #999;
  }

}

//-------------faqs-item---------------//
.faqs-item{
  .Polaris-Badge{
    font-size: 1rem;
  }
  .Published{
    .Polaris-Badge{
      background-color: #bbe5b3
    }
    
  }
}
.faqs-edit {
  display: flex;
  align-items: center;
  div{
    padding-right: 15px;
    &:last-child{
      padding-right: 0;
    }
  }
  .lock{
    @extend %smooth-trans;
    svg{
      fill: #666;
    }
    i{
      font-size: 17px;
      color: #666;
      @extend %smooth-trans;
    }
    &:hover{
      i{
        color: #6371c7;
      }
    }
  }
  .edit{
    svg{
      fill: #666;
    }
  }
  .delete{
    svg{
      fill: #666;
    }
  }
}
//--------------addQuestion-------------------//
.addQuestion{
  .Polaris-Button__Text{
    display: flex;
    align-items: center;
    .Polaris-Icon{
      margin-right: 15px;
    }
  }
}
.date_time{
  label{
    display: block;
    margin-bottom: 0.3rem;
    width: 100%;
  }
  .ant-picker{
    border: 1px solid #c4cdd5;
    padding: 5px 11px 5px;
    width: 100%;
    background-color: #e9ecef;
  }
}
//----------Hr------------//
hr{
  margin: 30px 0;
  border-top: 0.1rem solid var(--p-divider, #dfe3e8);;
  border-left: none;
}
//---------settingsApp------------/
.settingsApp_enable{
  .Polaris-Button{
    color: #6371c7;
    border: 1px solid #6371c7;
    &.Polaris-Button--pressed{
      background: #6371c7;
      color: #fff;
    }
  }
}